.ourclients
    margin-top: 180px
    padding: 0px 0px 100px 0px
    .container
        width: 1180px
        margin: 0 auto
        .ourclients_content
            .title
                margin-bottom: 54px
                h1
                    font-weight: 400
                    font-size: 50px
                    color: #686666
                    color: #686666
                    font-family: 'Jost', sans-serif



            .content
                display: flex
                justify-content: space-around
                .block_left
                    text-align: center
                    .item_top
                        width: 350px
                        height: 400px
                        &:hover
                            width: 360px
                            height: 410px
                            transition: 0.5s


                        img
                            width: 100%
                            height: 100%

                    .item_bottom
                        width: 206px
                        height: 174px
                        margin: 0 auto
                        &:hover
                            width: 216px
                            height: 184px
                            transition: 0.5s
                        img
                            width: 100%
                            height: 100%


                .block_center
                    // text-align: center

                    
                    .item_top
                        width: 273px
                        height: 163px
                        margin-bottom: 40px
                        &:hover
                            width: 283px
                            height: 173px
                            transition: 0.5s
                        img
                            width: 100%
                            height: 100%

                    .item_bottom
                        width: 267px
                        height: 398px
                        &:hover
                            width: 277px
                            height: 408px
                            transition: 0.5s
                        img
                            width: 100%
                            height: 100%


                .block_right
                    text-align: center

                    .item_top
                        width: 288px
                        height: 169px
                        margin: 55px 0px 66px 0px
                        &:hover
                            width: 298px
                            height: 179px
                            transition: 0.5s
                        img
                            width: 100%
                            height: 100%

                    .item_bottom
                        width: 263px
                        height: 223px
                        &:hover
                            width: 273px
                            height: 233px
                            transition: 0.5s
                        img
                            width: 100%
                            height: 100%
                                                                                                    